APP_NAME=RAG API
API_PREFIX=/api
DATABASE_URL=postgresql://postgres.testtesttestetest@aws-1-us-east-1.pooler.supabase.com:5432/postgres
HF_API_TOKEN=hf_testestesttesttest
HF_MODEL_URL=https://router.huggingface.co/v1/chat/completions
HF_MODEL_NAME=Qwen/Qwen2.5-Coder-32B-Instruct
EMBEDDING_DIMENSIONS=1536